.footer {
  display: none;
  width: 100%;
  background-color: hsl(0, 0%, 24%);
  color: var(--text-secondary-color);
  padding: 1rem 1rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  .footer_logo {
    text-align: center;
    svg {
      width: 2.5rem;
      opacity: 0.4;
    }
    h2 {
      line-height: 1.5;
      font-family: 'MV Boil';
    }
  }
  .copy {
    p {
      line-height: 1.5;
      font-size: var(--font-size-xs);
      margin: 0.5rem 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: block;
  }
}
