.section {
  padding: 1rem 0;
  + .section {
    margin-top: 1rem;
    border-top: 1px solid var(--border-color);
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .box {
    background-color: white;
    border-radius: var(--border-radius-md);
    padding: 1.5em;
    + .box {
      margin-top: 1rem;
    }

    div {
      + div {
        margin-top: 1rem;
      }
    }
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
