.button {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(../../../assets/img/Translate_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  z-index: 9999;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.containner {
  position: relative;
}

.modle {
  @extend .button;
  cursor: auto;
  background-image: none;
  width: 160px;
  min-height: 160px;
  background-color: white;
  box-shadow: var(--default-box-shadow);
  border-radius: 4px;
  padding: 0.625rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  p {
    width: 100%;
    max-height: 30%;
    font-size: 12px;
    margin-bottom: 0.3rem;
    overflow-y: auto;
    min-height: 20px;
  }
}
.select_languge {
  font-size: 0.75rem;
  background-color: var(--button-primary-color);
  color: var(--white);
  border-radius: 4px;
  margin-bottom: 0.3rem;
  margin-top: 0.4rem;
}
.text_box {
  height: 80%;
}
.modal_btn {
  background-color: var(--active-color);
  width: 100%;
  padding: 6px;
  border-radius: 0.25rem;
  color: var(--white);
}
