.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - var(--layout-container-height));
}

.title {
  color: var(--text-primary-color);
  font-size: var(--font-size-xl);
}

.children {
  margin-top: 1rem;
  color: var(--text-secondary-color);
}

@media screen and (min-width: 1024px) {
  .wrapper {
    height: calc(100vh - var(--layout-container-height) - 4rem);
  }
}
