.life_quotes {
  border: 3px dashed var(--text-primary-color);
  padding: 1rem;
  background-color: white;
  border-radius: var(--border-radius-sm);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  span {
    font-size: 1.5rem;
    color: var(--text-primary-color);
  }
  p {
    line-height: 1.4;
    font-size: var(--font-size-xs);
    color: var(--text-primary-color);
  }
}
