.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .title {
    text-align: center;
    h2 {
      line-height: 1.5;
      margin-bottom: 1rem;
    }
  }
}
