.picture {
  width: 4.7rem;
  height: 4.7rem;
  border: 4px solid var(--white);
  overflow: hidden;
  filter: var(--default-drop-shadow);

  &.odd {
    transform: rotate(5deg);
  }
  &.even {
    transform: rotate(-5deg);
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
