.page_header {
  text-align: center;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  & .title {
    font-family: 'MV Boil';
    font-size: var(--font-size-xxl);
    font-weight: 700;
    color: var(--title-primary-color);
    margin-bottom: 0.5rem;
  }
  & .translate {
    font-size: var(--font-size-md);
    color: var(--title-secondary-color);
  }
}
.header_button {
  width: 1.625rem;
  height: 1.625rem;
}
