.card_list {
  height: calc(100% - 4rem);
  & li {
    margin-bottom: 1rem;
  }
  & li:last-child {
    margin-bottom: 0;
  }
  padding-bottom: 2.5rem;
}

.button {
  position: sticky;
  left: 100%;
  bottom: 1rem;
  box-shadow: var(--default-box-shadow);
}
