.usercard {
  display: flex;
  box-shadow: var(--default-box-shadow);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--white);
  cursor: pointer;
}
.profile_img {
  margin-right: 1.5rem;
}
.profile_info {
  flex: 1 1 0;
}
.children_wrapper {
  display: flex;
}
