.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: var(--border-radius-sm);
  background-color: transparent;
  color: var(--text-primary-color);

  // size
  &.sm {
    font-size: var(--font-size-xs);
  }
  &.md {
    font-size: var(--font-size-md);
    height: 2.125rem;
  }
  &.lg {
    font-size: var(--font-size-lg);
    padding: 1rem 1rem;
    height: 3rem;
  }

  // variant
  &.default {
    &:hover {
      background-color: var(--light-color);
    }
  }

  &.primary {
    background-color: var(--button-primary-color);
    color: var(--white);
    &:hover {
      background-color: #53473c;
    }
  }
  &.secondary {
    background-color: var(--button-secondary-color);
    color: var(--white);
    &:hover {
      background-color: #726e6a;
    }
  }
  &.dashed {
    background-color: var(--white);
    color: var(--text-primary-color);
    border: 2px dashed var(--button-primary-color);
    font-weight: bold;
    &:hover {
      background-color: var(--light-color);
    }
  }

  // full size
  &.is_full {
    width: 100%;
  }

  // icon
  &.is_icon {
    gap: 0.5rem;
  }

  &.is_icon_btn {
    border-radius: 50%;
    padding: 0;
    &.sm {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
    }
    &.md {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 1.5rem;
    }
    &.lg {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
    }
  }

  // disabeld
  &.is_disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
