.tag {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  color: var(--white);
  display: inline-block;
  white-space: nowrap;
  font-size: var(--font-size-sm);
  cursor: grab;
}
.default {
  background-color: var(--title-secondary-color);
}
.lang {
  background-color: var(--active-color);
}
