.letter {
  background-color: var(--white);
  min-height: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  padding: 1rem;
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-primary-color);
  box-shadow: var(--default-box-shadow);
}

.letter_status {
  height: 1.2rem;
  display: flex;
  align-items: center;
  & svg {
    margin-right: 4px;
  }
}

.letter_body {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.letter_info {
  height: 1.2rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  & .time {
    color: var(--text-secondary-color);
  }
}

.lock {
  & .letter_info {
    justify-content: end;
  }

  & .open_time {
    text-align: center;
    margin-bottom: 1rem;
    span {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      font-size: var(--font-size-sm);
      background-color: var(--light-color);
      border-radius: var(--border-radius-sm);
    }
  }
}

.locksLetter {
  position: relative;
  width: 5rem;
  height: 3.45rem;
  margin: 0 auto;
  align-self: center;
  display: flex;
  .locks_wrapper {
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1.25rem;
    height: 2.25rem;
    z-index: 2;
  }
  &:hover {
    .locks {
      display: block;
      animation: shaking 0.25s infinite;
    }
  }
}

@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
