.card {
  position: relative;
  background-color: white;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.02);
  border-radius: var(--border-radius-sm);
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: calc(100% - 4rem);
  &:before {
    display: block;
    content: '';
    position: absolute;
    right: 2rem;
    top: -0.4rem;
    width: 1.75rem;
    height: 3.25rem;
    background-image: url('../../../assets/img/papler_clip.svg');
    background-size: cover;
  }
}
