.container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
  h2 {
    font-size: var(--font-size-xxl);
    color: var(--text-primary-color);
  }
  p {
    font-size: var(--font-size-sm);
    color: var(--text-secondary-color);
    margin-top: 0.5rem;
  }
}
.contents {
  position: relative;
  background-color: white;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.02);
  border-radius: var(--border-radius-sm);
  height: 100%;
  &:before {
    display: block;
    content: '';
    position: absolute;
    right: 2rem;
    top: -0.4rem;
    width: 1.75rem;
    height: 3.25rem;
    background-image: url('../../assets/img/papler_clip.svg');
    background-size: cover;
  }
  .profile_base_info {
    padding: 2rem 1rem 1.5rem;
    display: grid;
    grid-template-columns: minmax(40%, 4rem) 1fr;
    gap: 1rem;
  }
}
.input_container {
  + .input_container {
    margin-top: 1rem;
  }

  label {
    display: block;
    font-size: var(--font-size-xs);
    color: var(--button-primary-color);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .input_group {
    display: flex;
    gap: 0.5rem;

    .field_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      p {
        line-height: 1.5;
      }
    }

    .input_field {
      border-bottom: 2px solid var(--text-primary-color);
      padding: 0.25rem;
      height: 2.5rem;
      input {
        width: 100%;
        height: 100%;
      }
    }
    .textarea_field {
      border: 2px solid var(--text-primary-color);
      textarea {
        width: 100%;
        height: 5rem;
      }
    }

    button {
      min-width: 3rem;
      min-height: 2rem;
      background-color: var(--button-primary-color);
      color: white;
      border-radius: var(--border-radius-sm);
      font-size: var(--font-size-xs);
    }
  }

  p {
    font-size: var(--font-size-sm);
    color: var(--text-primary-color);
    font-weight: bold;
    word-break: break-all;
  }
}

.profile_extra_info {
  position: relative;
  padding: 2rem 1rem 1.5rem;
  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 17px;
    left: 0;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0.41) 0%,
      rgba(217, 217, 217, 0) 100%
    );
  }
  .input_container {
    + .input_container {
      margin-top: 2rem;
    }
  }
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  button {
    border: 2px dashed var(--text-primary-color);
    font-size: var(--font-size-xs);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-sm);
    white-space: nowrap;
  }
}
.tags {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--light-color);
  color: var(--text-primary-color);
  font-size: var(--font-size-xs);
  border-radius: var(--border-radius-sm);
  white-space: nowrap;
}
