* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  font: inherit;
}

:root {
  --button-primary-color: #706052;
  --button-secondary-color: #8c8783;
  --text-primary-color: #505050;
  --text-secondary-color: #969696;
  --light-color: #e8e8e8;
  --active-color: #c6a47f;
  --default-color: #f0f0f0;
  --danger-color: #932f42;
  --success-color: #2f9381;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
