.letter_state {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.read_flag {
  background-color: var(--alert-color);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -0.5rem;
}
