.letter {
  background-color: var(--white);
  padding: 1.5rem;
  margin-top: 1rem;

  // 편지지 타입별 CSS
  &.type1 {
    // 어떻게 좌우도 이미지를 넣을지
    border-top: 6px solid;
    border-bottom: 6px solid;
    border-image: url('../../../assets/img/envelope_line.svg') 26;
    border-image-repeat: round;
  }
}

.receiver_info {
  & .dear {
    font-size: var(--font-size-md);
    font-weight: 700;
    margin-right: 0.5rem;
    color: var(--title-primary-color);
  }
  & .receiver {
    font-size: var(--font-size-s);
    font-weight: 700;
    color: var(--text-primary-color);
  }
}

.content {
  font-size: var(--font-size-xs);
  color: var(--text-primary-color);
  white-space: pre-line;
}
